body {
    margin: 0;
}
/* Estilo nav */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    width: 100%;
  }

  .topnav .p_link {
    margin-left: 38%;
  }

  .topnav .u_link {
    margin-right: 38%;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 16px 30px;
    text-decoration: none;
    font-size: 17px;
  }


  .topnav div {
      margin-top: 14px;
  }
  
  .topnav a:hover {
    background-color:transparent;
    color: orange;
  }
  
  .active {
    background-color: #101110;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }

/* Estilos banner */
.banner {
    background: url(../img/banner.jpg) no-repeat fixed center;
    background-size: cover;
    height: 100vh;
    max-width: 100%;
}

/* Dispositivos tablet estirada, pc pantalla pequeña */
@media (min-width: 850px) and (max-width: 1400px) {
  .topnav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    width: 100%;
  }

  .topnav .p_link {
    margin-left: 30%;
  }

  .topnav .u_link {
    margin-right: 30%;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 16px 30px;
    text-decoration: none;
    font-size: 17px;
  }
}
/* Moviles */
@media (min-width: 400px) and (max-width: 849px){
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 16px 30px;
    text-decoration: none;
    font-size: 17px;
    width: 100%;
  }
  .topnav a:hover {
    color: orange;
  }
  
  .topnav .p_link {
    margin-left: 0;
  }

  .topnav .u_link {
    margin-right: 0;
  }
}
